@import './assets/scss/vars.scss';

.App {
  height: 100%;
}

/* Loading.jsx */

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
  animation: hideMe $hideProgressBar $progressBarDuration forwards;
}

.progress-value {
  animation: load $progressBarDuration normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { 
    width: 5%;
    opacity: 0;
  }
  50% { 
    width: 95%;
    opacity: 1;
  }
  60% { width: 7% }
  95% { width: 7% }
  100% { width: 100% }
}

@keyframes hideMe {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Home.jsx */

.container-fluid {
  height: 100%;
  background-color: $colorDark;
}

/* Title.jsx */

.btnStart {
  cursor: pointer
}

.noSelection {
  user-select: none
}

.fadeOut {
  animation: fadeout $titleFadeOutDuration forwards
}

.fadeIn {
  animation: fadein $titleFadeInDuration forwards
}

.cartoon {
  font-family: 'Cartoon';
  font-size: 8rem;
  color: white;
}

@keyframes fadeout {
  0% {
    opacity: 1
  }
  100% {
    color: greenyellow;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@font-face{ 
  font-family: 'Cartoon';
  src: url('./assets/fonts/from-cartoon-blocks.TTF');
}

/* Cards.jsx */
.cards-container {
  animation: fadein $cardsFadeInDuration forwards
}

/* Card.jsx */
.card-container {
  position: relative;
}

$cardPadding: 10%;

.card-container .card {
  padding: $cardPadding;
  background-color: $colorDark;
  border: 1px solid white;
  border-radius: 15%;
  transition-property: opacity, transform;
  transition-duration: $flipAndGrowDuration;
}

.card:before {
  content: '';
  padding-top: 150%;
}

.front {
  opacity: 1;
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: rotateY(180deg);
}

.flipToBack {
  & .front {
    opacity: 0;
    transform: rotateY(180deg)
  }

  & .back {
    opacity: 1;
    transform: rotateY(0deg)
  }
}

.flipToFront {
  & .front {
    opacity: 1;
    transform: rotateY(0deg)
  }

  & .back {
    opacity: 0;
    transform: rotateY(180deg)
  }
}

.card img {
  position: absolute;
  width: (100% - 2 * $cardPadding);
  height: (100% - 2 * $cardPadding);
  filter: invert(1);
}

/* .flipAndGrow {
  animation: flipandgrow $flipAndGrowDuration forwards
} */


/* Score.jsx */

.score-container {
  width: 100%
}

.circle {
  border: 1px solid #fff;
}

.circle:before {
  content: '';
  padding-top: 100%;
  float: left;
}

/* clase de prueba */
.blur {
  filter: blur(1px)
}
