.App {
  height: 100%;
}

/* ----------------------------------------------------------------------------- */


/*




.card-container .card {
  padding: $cardPadding;
  background-color: $colorDark;
  border: 1px solid white;
  border-radius: 15%;
  width: 100%;
  transition-property: opacity, transform;
  transition-duration: $flipAndGrowDuration;
}

.card:before {
  content: '';
  padding-top: 150%;
}

.front {
  opacity: 1;
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  width: 50%;
  opacity: 0;
  transform: rotateY(180deg);
}

.flipToBack {
  & .front {
    opacity: 0;
    transform: rotateY(180deg)
  }

  & .back {
    opacity: 1;
    transform: rotateY(0deg)
  }
}

.flipToFront {
  & .front {
    opacity: 1;
    transform: rotateY(0deg)
  }

  & .back {
    opacity: 0;
    transform: rotateY(180deg)
  }
}

.card img {
  position: absolute;
  width: (100% - 2 * $cardPadding);
  height: (100% - 2 * $cardPadding);
  filter: invert(1);
}
*/

/* ----------------------------------------------------------------------------- */