@import './assets/scss/vars.scss';
@import './components/Loading/loading.scss';
@import './components/Title/title.scss';

.App {
  height: 100%;
}

/* Home.jsx */

.container-fluid {
  height: 100%;
  background-color: $colorDark;
}

/* Title.jsx */


/* Cards.jsx */
.cards-container {
  animation: fadein $cardsFadeInDuration forwards;
  overflow: hidden;
}

.expandChild .card-container:not(.grow){
  visibility: hidden;
  display: none;
  opacity: 0;
}

.expandChild .card-container.grow {
  flex-basis: 100%;
}

/* Card.jsx */

/* ----------------------------------------------------------------------------- */

.card-container {
  position: relative;
  flex: 0 0 50%;
  transition-property: visibility, opacity, flex-basis;
  transition-duration: $flipAndGrowDuration;
}

.card {
  position: relative;
  background-color: $colorDark;
  border: 1px solid white;
  border-radius: 15%;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition-property: opacity, transform;
  transition-duration: $flipAndGrowDuration;
}

.card:before {
  content: '';
  padding-top: 150%;
}

.card > * {
  position: absolute;
  filter: invert(1);
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.front {
  opacity: 1;
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  opacity: 0;
  transform: rotateY(180deg);
}

.flipToBack {
  & .front {
    opacity: 0;
    transform: rotateY(180deg)
  }

  & .back {
    opacity: 1;
    transform: rotateY(0deg)
  }
}

.flipToFront {
  & .front {
    opacity: 1;
    transform: rotateY(0deg)
  }

  & .back {
    opacity: 0;
    transform: rotateY(180deg)
  }
}
/*




.card-container .card {
  padding: $cardPadding;
  background-color: $colorDark;
  border: 1px solid white;
  border-radius: 15%;
  width: 100%;
  transition-property: opacity, transform;
  transition-duration: $flipAndGrowDuration;
}

.card:before {
  content: '';
  padding-top: 150%;
}

.front {
  opacity: 1;
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  width: 50%;
  opacity: 0;
  transform: rotateY(180deg);
}

.flipToBack {
  & .front {
    opacity: 0;
    transform: rotateY(180deg)
  }

  & .back {
    opacity: 1;
    transform: rotateY(0deg)
  }
}

.flipToFront {
  & .front {
    opacity: 1;
    transform: rotateY(0deg)
  }

  & .back {
    opacity: 0;
    transform: rotateY(180deg)
  }
}

.card img {
  position: absolute;
  width: (100% - 2 * $cardPadding);
  height: (100% - 2 * $cardPadding);
  filter: invert(1);
}
*/

/* ----------------------------------------------------------------------------- */

/* Score.jsx */

.score-container {
  width: 100%
}

.circle {
  border: 1px solid #fff;
}

.circle:before {
  content: '';
  padding-top: 100%;
  float: left;
}

/* clase de prueba */
.blur {
  filter: blur(1px)
}
