$progressBarDuration: 5s;

.progress-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  width: 80%;
  height: 8%;
  border-radius: 3rem;
  padding: 0 1rem;

  & .progress-bar {
    background-color: whitesmoke;
    height: 60%;
    width: 8%; // Esto se va a animar
    border-radius: 3rem;
    // box-shadow: [inset][horizontal offset][vertical offset][blur radius][spread distance][color]
    box-shadow: 0 0 3rem -0.4rem white;
  }
}