$progressBarDuration: 5s;
$hideProgressBar: 1.5s;
$progressBar: $progressBarDuration + $hideProgressBar;
$titleFadeInDuration: 2s;
$titleFadeOutDuration: 1.5s;
$cardsFadeInDuration: 2s;
$cardFadeInDuration: 0.5s;
$cardFadeOutDuration: 0.5s;

$flipAndGrowDuration: 1s;
$cardPadding: 10%;
$cardContainerPadding: 5%;
$nCards: 12;
$gridRowsSmMd: 2;
$gridRowsLgXl: 3;
$gridColsSm: 2;
$gridColsMd: 3;
$gridColsLgXl: 4;

:export {
  progressBar: $progressBar;
  fadeOut: $titleFadeOutDuration;
  nCards: $nCards;
  gridRowsSmMd: $gridRowsSmMd;
  gridRowsLgXl: $gridRowsLgXl;
  gridColsSm: $gridColsSm;
  gridColsMd: $gridColsMd;
  gridColsLgXl: $gridColsLgXl;
}