$progressBarDuration: 5s;
$hideProgressBar: 1.5s;
$progressBar: $progressBarDuration + $hideProgressBar;
$titleFadeInDuration: 2s;
$titleFadeOutDuration: 1.5s;
$cardsFadeInDuration: 2s;
$colorDark: #050505;
$flipAndGrowDuration: 1s;
$cardPadding: 10%;
$cardContainerPadding: 5%;

:export {
  progressBar: $progressBar;
  fadeOut: $titleFadeOutDuration;
}