$progressBarDuration: 5s;
$hideProgressBar: 1.5s;
$progressBar: $progressBarDuration + $hideProgressBar;
$titleFadeInDuration: 2s;
$titleFadeOutDuration: 1.5s;
$cardsFadeInDuration: 2s;

:export {
  progressBar: $progressBar;
  fadeOut: $titleFadeOutDuration;
}