.trivia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);

  & .card {
    & .card-header {
      & h2 {
        color: white;
        font-family: 'Cartoon';
      }
    }

    & .card-body {
      & h2 {
        color: white;
        font-family: 'Cartoon';
      }

      & .options-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

// Fuente
@font-face{ 
  font-family: 'Cartoon';
  src: url('../../assets/fonts/from-cartoon-blocks.TTF');
}