.title {
  font-family: 'Cartoon';
  font-size: 8rem;
  color: white;
  user-select: none
}

.btnStart {
  cursor: pointer
}

// Fuente
@font-face{ 
  font-family: 'Cartoon';
  src: url('../../assets/fonts/from-cartoon-blocks.TTF');
}