// SM
$rowsSm: 2;
$colsSm: 2;
// MD
$rowsMd: 2;
$colsMd: 3;
// LG and XL
$rowsLg: 3;
$colsLg: 4;

// Exportar numero de filas y columnas a JS para generar componenetes Card
:export {
  // SM
  rowsSm: $rowsSm;
  colsSm: $colsSm;
  // MD
  rowsMd: $rowsMd;
  colsMd: $colsMd;
  // LG and XL
  rowsLg: $rowsLg;
  colsLg: $colsLg;
}

.cards-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  &.sm {
    height: 70%;
  }

  &.md {
    height: 80%;
  }

  &.lg, &.xl {
    height: 90%;
  }

  & .cards-container {
    width: 80%;
    height: 100%;
    display: grid;
    gap: 1rem;

    &.grid-sm {
      grid-template-columns: repeat($colsSm, 1fr);
      grid-template-rows: repeat($rowsSm, 1fr);
    }

    &.grid-md {
      grid-template-columns: repeat($colsMd, 1fr);
      grid-template-rows: repeat($rowsMd, 1fr);
    }

    &.grid-lg, &.grid-xl {
      grid-template-columns: repeat($colsLg, 1fr);
      grid-template-rows: repeat($rowsLg, 1fr);
    }

    &.noGrid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}










/* @import '../../assets/scss/vars.scss';

.score-cards-container {
  flex-direction: column;
}

.cards-container {
  display: grid;
  animation: fadein $cardsFadeInDuration forwards;
  &.grid-sm {
    grid-template-columns: repeat($gridColsSm, 1fr);
    grid-template-rows: repeat($gridRowsSmMd, 1fr);
  }
  &.grid-md {
    grid-template-columns: repeat($gridColsMd, 1fr);
    grid-template-rows: repeat($gridRowsSmMd, 1fr);
  }
  &.grid-lg, &.grid-xl {
    grid-template-columns: repeat($gridColsLgXl, 1fr);
    grid-template-rows: repeat($gridRowsLgXl, 1fr);
  }
}

/* Código de colores pantalla
  verde: sm
  amarillo: md
  rojo: lg
  morado: xl


.sm {
  color: lime;
}

.md {
  color: yellow;
}

.lg {
  color: red;
}

.xl {
  color: purple;
} */