@import '../../assets/scss/vars.scss';

.score-cards-container {
  flex-direction: column;
}

.cards-container {
  display: grid;
  animation: fadein $cardsFadeInDuration forwards;
  &.grid-sm {
    grid-template-columns: repeat($gridColsSm, 1fr);
    grid-template-rows: repeat($gridRowsSmMd, 1fr);
  }
  &.grid-md {
    grid-template-columns: repeat($gridColsMd, 1fr);
    grid-template-rows: repeat($gridRowsSmMd, 1fr);
  }
  &.grid-lg, &.grid-xl {
    grid-template-columns: repeat($gridColsLgXl, 1fr);
    grid-template-rows: repeat($gridRowsLgXl, 1fr);
  }
}

h1 {
  color: white
}